.cards {
  width: 100vw;
  height: 100vh;
  padding-top: 6em;

  &-desc {
    color: white;
    padding-bottom: 2em;
    text-align: center;
  }

  &-list {
    margin-bottom: 2em;
    background-color: #e1c699;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px saddlebrown;
    margin: 1em;
    padding: 0.5em 1em;

    &-link {
      text-decoration: none;
      text-align: center;
      color: darkblue;
      
        &-title {
          font-weight: bold;
        }

        &-desc {
          font-size: 0.8em;
          font-style: italic;
        }
      }
    }

  &-add {
    text-align: center;
    padding-top: 2em;

    &-button {
      background-color: #ff1616;
        color: white;
        text-shadow: 1px 1px 1px #0e4bef;
        font-size: 1em;
        padding: 0.5em;
        border: 5px solid #ff5757;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #003bda;
    }
  }
}