.deleteCardModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgb(129, 125, 125, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &-container {
    background-color: #e1c699;
    width: 90%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px saddlebrown;

    &-header {
      font-size: 1.2em;
      color: saddlebrown;
      font-weight: bold;
      margin-bottom: 2em;
    }

    &-desc {
      font-weight: bold;
      margin-bottom: 2em;
    }

    &-buttons {
      width: 95%;
      display: flex;
      justify-content: space-around;

      &-validate, &-escape {
        background-color: #77b5fe;
        color: white;
        padding: 0.5em;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 5px saddlebrown;
      }
    }

    &-error {
      text-align: center;
      font-weight: bold;
      margin-bottom: 2em;
    }
  }
}
