.card {
  padding: 5em 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em 1em;
    
    &-title {
      font-size: 1.2em;
      font-weight: bold;
      color: white;
    }

    &-options {
      display: flex;
      justify-content: space-around;
      color: white;

      &-update {
        margin-right: 1em;
      }
    }
  }

  &-description {
    font-size: 0.8em;
    font-style: italic;
    color: white;
    margin: 0.2em 1em;
  }

  &-drinks {
    margin: 1em;
    padding: 0.5em 0;
    background-color: lightsalmon;
    border: 5px solid lightcoral;
    border-radius: 5px;

    &-header {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      padding-bottom: 1.5em;

      &-desc {
        width: 90%;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
      }

      &-add {
        width: 10%;
        text-align: center;
        color: white;
        background-color: lightcoral;
        border: 3px solid white;
        border-radius: 50%;
        margin-right: 0.3em;
        line-height: 100%;
      }
    }

    &-drink {
      padding-bottom: 1em;

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;

        &-elements {
          display: flex;
          text-shadow: 5px 5px 5px white;
          &-title {
            margin-right: 0.5em;
          }
        }

        &-options {
          display: flex;
          justify-content: space-around;

          &-update {
            margin-right: 1em;
          }
        }
      }

      &-description {
        font-size: 0.8em;
        font-style: italic;
        padding: 0 1em 1em 1em;
      }
    }
  }

  &-foods {
    margin: 1em;
    padding: 0.5em 0;
    background-color: lightcoral;
    border: 5px solid lightsalmon;
    border-radius: 5px;

    &-header {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      padding-bottom: 1.5em;

      &-desc {
        width: 90%;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
      }

      &-add {
        width: 10%;
        text-align: center;
        color: white;
        background-color: lightsalmon;
        border: 3px solid white;
        border-radius: 50%;
        margin-right: 0.3em;
        line-height: 100%;
      }
    }

    &-food {
      padding-bottom: 1em;

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;

        &-elements {
          display: flex;
          text-shadow: 5px 5px 5px white;
          &-title {
            margin-right: 0.5em;
          }
        }

        &-options {
          display: flex;
          justify-content: space-around;

          &-update {
            margin-right: 1em;
          }
        }
      }

      &-description {
        font-size: 0.8em;
        font-style: italic;
        padding: 0 1em 1em 1em;
      }
    }
  }
}