.home {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7em;

  &-header {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 2em;
    color: white;
    text-shadow: 5px 5px 5px #ff1616;
  }

  &-desc {
    color: white;
    text-align: center;
    padding: 0 1em 3em 1em;
  }

  &-connexion {
    
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-field {
        padding-bottom: 2em;

        &-email, &-password {
          margin-bottom: 1em;
          padding: 0.2em;
        }
      }

      &-button {
        background-color: #ff1616;
        color: white;
        text-shadow: 1px 1px 1px #0e4bef;
        font-size: 1em;
        padding: 0.5em 4em;
        border: 5px solid #ff5757;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #003bda;
      }

      &-error {
        color: white;
        padding-bottom: 2em;
      }
    }
  }

  &-access {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-error {
      padding-top: 5em;
      text-align: center;
      color: white;
    }

    &-restaurant {
      text-align: center;
      color: white;
      margin-bottom: 2em;

      &-name {
        font-size: 2em;
        font-weight: bold;
      }

      &-location {
        display: flex;
        justify-content: center;

        &-zip_code {
          margin-right: 0.3em;
        }
      }
    }
    
    &-card {
      margin-bottom: 2em;
      padding: 1em 0.5em;
      background-color: #ff1616;
      border: 5px solid #ff5757;
      border-radius: 10px;
      box-shadow: 5px 5px 5px #003bda;

      &-link {
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 1px #0e4bef;
      }
    }
  }
}
