.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-desc {
    text-align: center;
    padding-bottom: 3em;
  }

  &-connexion {
    
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-field {

        &-email, &-password {
          margin-bottom: 1em;
        }
      }
    }
  }

  &-access {

    &-error {
      text-align: center;
      font-weight: bold;
    }
    
    &-card, &-menu {
      margin-bottom: 2em;

      &-link {
        text-decoration: none;
        color: darkblue;
        font-weight: bold;
      }
    }
  }
}
