.header {
  width: 100%;
  height: 5%;
  background-color: #ff1616;
  border-bottom: 5px solid #ff5757;
  position: fixed;
  top: 0;

  &-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-leftside {
      padding-left: 1em;

      &-link {
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px #0e4bef;
      }
    }

    &-rightside {
      padding-right: 1em;
      display: flex;

      &-welcome {
        color: white;
        text-shadow: 1px 1px 1px #0e4bef;
        padding-right: 0.5em;
      }

      &-logout {
        border: none;
        background-color: #ff1616;
        color: white;
        text-shadow: 1px 1px 1px #0e4bef;
        transition: transform 1s;

        &-open {
          border: none;
          background-color: #ff1616;
          color: white;
          text-shadow: 1px 1px 1px #0e4bef;
          transform: rotate(-180deg);
          transition: transform 1s;
        }
      }
    }
  }
}
