.menus {
  width: 100vw;
  height: 100vh;
  padding-top: 10em;
  text-align: center;

  &-desc {
    color: darkblue;
    padding-bottom: 2em;
  }

  &-list {
    margin-bottom: 2em;

    &-link {
      text-decoration: none;
      color: darkblue;
      font-weight: bold;
    }
  }
}